
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* General */


body {
    color: white;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

/* Utilities */

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

/* BODY */

/* HEADER */

header {
    height: 75px;
    background-color: blue;
    text-align: right;
}

/* MAIN */

.meeting-screen {
    height: calc( 100vh - 155px);
    background-color: red;

}

/* FOOTER */

footer {
    height: 80px;
    background-color: chartreuse;

}