
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* General */


body {
    color: white;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

/* Utilities */

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

/* BODY */

/* HEADER */

header {
    height: 75px;
    background-color:#000;
    text-align: right;
}

header button {
    background-color:#4A4A4A;
    padding: 4px 6px;
    margin: 6px 4px;
    border: 0;
    border-radius: 3px;
    color: white;
    /* (perchè non la sta ereditando? */
}


/* MAIN */

.meeting-screen {
    height: calc( 100vh - 155px);
    background-color: red;

}

/* FOOTER */

footer {
    height: 80px;
    background-color: chartreuse;

}